<%= form_for(@answer) do |f| %>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:
    <ul>
      <%= form_for(@answer) do |q| %>
        <%= render 'question' %>
      <% end %>
    </ul>
  </div>
  <%= f.submit %>
<% end %>
